<div class="wrapper">
    <aside id="sidebar" class="bg-primary bg-gradient">
        <div class="h-100">
            <div class="sidebar-logo">
                <img src="assets/images/author_logo.jpg">
                <h4>LISAMA {{profile}}</h4>
            </div>
            <ul class="sidebar-nav shadow">
                <!-- Barre de recherche -->
                <div class="input-group mb-4 px-2">
                    <input type="text" class="form-control bg-light border-0 rounded-start" placeholder="Rechercher..."
                        aria-label="Recherche" />
                    <span class="input-group-text bg-light border-0 rounded-end">
                        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                    </span>
                </div>
                <li class="sidebar-item" [class.active]="currentUrl === '/tableBord'">
                    <a href="/tableBord" class="sidebar-link">
                        <fa-icon [icon]="faHouse" class="pe-2"></fa-icon>
                        Tableau de bord
                    </a>
                </li>
                <app-menu></app-menu>
            </ul>
        </div>
    </aside>
    <div class="main">
        <app-loader></app-loader>
        <app-header></app-header>
        <router-outlet />
    </div>
</div>