.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 250px;
  min-width: 250px;
  transition: all .35s ease-in-out;
  
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: auto;
  transition: all .35s ease-in-out;
  width: 80%;
  background: var(--bs-gray-bg-subtle);
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
}

/* Sidebar elements style */
.sidebar-logo {
  display: flex;
  align-items: center;     /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  gap: 10px;               /* Espace entre image et texte */
  padding: 1.15rem;
  margin: 0 auto 20px auto;
}

.sidebar-logo img {
  height: 45px;            /* Ajuste à ta convenance */
  width: auto;
  display: block;
  border-radius: 50%;
  border: 2px solid rgb(199, 195, 195);
}

.sidebar-logo h4 {
  margin: 0;
  line-height: 1;          /* Pour éviter que le texte dépasse verticalement */
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0;
}


/* .sidebar-logo h4 {
  display: inline-block;
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0;
}

.sidebar-logo img {
  border: 1px solid gray;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
} */

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

a.sidebar-link {
  padding: .625rem 1.625rem;
  color: #e9ecef;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 4px;
  position: absolute;
  left: 14rem;
  top: 1.1rem;
  transform: rotate(-135deg);
  transition: all .2s ease-in-out ;
} 

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-in-out;
}

.active a, li.sidebar-item a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-footer {
  padding: 0!important;
}
.card-footer .btn {
  border: 0;
  border-radius: 0;
  background: inherit;
}

.just-sidebar {
  color: #e0e7e7e1!important;
  border: none;
}
.just-sidebar:focus {
  outline: none!important;
  box-shadow: none!important;
}
.input-group span {
  cursor: pointer;
}