<div class="wrapper">
    <aside id="sidebar" class=" bg-primary bg-gradient shadow">
        
         <div class="h-100">
            <div class="sidebar-logo">
                <img src="../../../assets/image/profile.jpg">
                <h4 >GESTIONNAIRE</h4>
            </div>
            <ul class="sidebar-nav shadow">
                <div class="input-group mx-auto mb-3 shadow" style="width: 85%!important;">
                    <input type="text" class="form-control bg-primary rounded-1 just-sidebar" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                    <span class="input-group-text rounded-1 bg-primary just-sidebar" id="basic-addon1"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></span>
                </div>
                <li class="sidebar-item">
                    <a href="/table_bord" class="sidebar-link">
                        <fa-icon [icon]="faHouse" class="pe-2"></fa-icon>
                        Tableau de bord
                    </a>
                </li>
                <app-menu></app-menu>
            </ul>  
        </div>
    </aside>
    <div class="main">
        <app-header></app-header>
        <router-outlet />
    </div>
</div>
