
<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between">
        <h4>Tableau de board</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active">Tableau de bord</li>
        </ol>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-gray-300 mb-1">2</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Utilisateurs</div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="faUserPlus" class="fa-2x" style="color: #4e73df;"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-gray-300 mb-1">0</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Inscription d'aujourd'hui</div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="faUserPlus" class="fa-2x" style="color: #36b9cc;"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-gray-300 mb-1">4</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Incidents Signaler</div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="faExclamation" class="fa-2x" style="color: #1cc88a;"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-gray-300 mb-1">0</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Signaler Aujourd'hui</div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="faExclamation" class="fa-2x" style="color: #f6c23e;"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-gray-300 mb-1">1</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Incidents Non Affecter</div>
                        </div>
                        <div class="col-auto">
                            <fa-icon [icon]="faInfo" class="fa-2x" style="color: #e74a3b;"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>