<li class="sidebar-item" *ngFor="let menu of menuProperties">
    <a class="sidebar-link" data-bs-toggle = "collapse" [attr.data-bs-target]="'#' + menu.id" [attr.aria-controls]="menu.titre"
        aria-expanded="false">
        <fa-icon [icon]="menu.icon" class="pe-2"></fa-icon>&nbsp;
        {{menu.titre}}
    </a>
    <div id="{{menu.id}}" class="collapse" *ngFor="let sousMenu of menu.sousMenu">
        <div class="sidebar-item px-2 my-2" [class.active]="currentUrl === sousMenu.url">
            <a href="javascript:void(0);" (click)="navigate(sousMenu.url)" class="sidebar-link collapse-item">
                {{sousMenu.titre}}
            </a>
        </div>
    </div>
</li>
