<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between">
        <h4>{{ title }}</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Organisme Externe</li>
            <li class="breadcrumb-item"><a class="link-primary">{{ title }}</a></li>
        </ol>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
        {{successMessage}}
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped"
            datatable
            [dtOptions]="dtoptions"
            [dtTrigger]="dtTrigger"
            width="100%"
            cellspacing="0"
            >
                <thead>
                    <tr>
                        <th>image de l'organisme</th>
                        <th>type d'organisme Externe</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orgExterne of orgExternes">
                        <td><img src="{{orgExterne.image}}" alt="" width="45" height="45" class="rounded-circle"></td>
                        <td>{{orgExterne.name}}</td>
                        <td>{{orgExterne.idDestination}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

</div>