.navbar-expand .navbar-nav {
    margin-left: auto;
}

.main .navbar-nav .navbar-item a {
    font-size: .8rem;
}

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    z-index: 1000;
}