<nav class="navbar navbar-expand px-3 border-bottom mb-4 shadow" style="background-color: #fff;">
    <button class="btn" id="sidebar-toggle" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="link-secondary ms-4 lh-base">Accueil</a>
    <div class="navbar-collapse navbar">
        <ul class="navbar-nav">
            <fa-icon [icon]="faRightFromBracket" class="pe-1" style="color: gray;"></fa-icon>
            <li class="nav-item">
                <a href="#" class="link-secondary" style="font-size: .8rem;">
                    Déconnecter
                </a>
            </li>
        </ul>
    </div>
</nav>
