<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between">
        <h4>{{ title }}</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Clients</li>
            <li class="breadcrumb-item"><a class="link-primary">{{ title }}</a></li>
        </ol>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
        {{successMessage}}
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped" datatable [dtOptions]="dtoptions" #dtElement
                    [dtTrigger]="dtTrigger" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom complet</th>
                            <th>Numéro telephone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="disableClientModal" tabindex="-1" aria-labelledby="disableClientModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="disableClientModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer ce client ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close" class="btn btn-secondary"
                                data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-danger" (click)="hideIncident()">Confirmé</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>