<div class="container my-container">
  <div class="card text-center mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Login to your account</h5>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="E-mail">
        <label>Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="Password">
        <label>Password</label>
      </div>
      <div class="mt-2 d-flex justify-content-between">
        <a [routerLink]="['/inscrire']" class="btn btn-link">S'inscrire</a>
        <button  type="button" class="btn btn-primary">login</button>
      </div>
    </div>
  </div>
</div>