<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between">
        <h4>{{ title }}</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Utilisateurs</li>
            <li class="breadcrumb-item"><a class="link-primary">{{ title }}</a></li>
        </ol>
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
        {{successMessage}}
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role</th>
                        <th>Profile</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>{{role.id}}</td>
                        <td>{{role.role}}</td>
                        <td>{{role.profile}}</td>
                        <td>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-3">
                                    <a (click)="updateRole(role)">
                                        <fa-icon [icon]="pen"
                                            style="color: rgb(86, 239, 96); display: inline;"></fa-icon>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a (click)="canHide(role.id!)">
                                        <fa-icon [icon]="trash" style="color: rgb(255, 72, 48);"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

</div>