<div class="container-fluid">
    <div class="mb-3 d-flex justify-content-between">
        <h4>{{ title }}</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Utilisateurs</li>
            <li class="breadcrumb-item"><a class="link-primary">{{ title }}</a></li>
        </ol>
    </div>
    <div class="alert alert-success" *ngIf="successMsg">
        {{successMsg}}
    </div>
    <!-- DataTales all users -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">
                Ajouter
            </button>
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" #dtElement
                    width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom complet</th>
                            <th>E-mail</th>
                            <th>Roles et Profils</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- Add user Modal -->
            <div class="modal fade" id="addUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="addUserModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addUserModalLabel">Ajouter un utilisateur</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" *ngIf="errorMsg.length !== 0">
                                @for (message of errorMsg; track $index) {
                                <li style="list-style: disc;">{{message}}</li><br>
                                }
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Username"
                                    [(ngModel)]="gestionnaire.username">
                                <label>Nom et Prénom</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" placeholder="E-mail"
                                    [(ngModel)]="gestionnaire.email">
                                <label>Adresse E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    [(ngModel)]="gestionnaire.password">
                                <label>Mot de passe</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" multiple [(ngModel)]="gestionnaire.roles" required>
                                    <option [ngValue]="gestionnaire.roles" disabled>Choisir un rôle et profile</option>
                                    <option *ngFor="let role of roles" [ngValue]="role">{{ role.role }} _ {{
                                        role.profile }}</option>
                                </select>
                            </div>

                            <div class="alert alert-secondary" *ngIf="hasValidRoles()">
                                <ul class="mb-0">
                                    <li *ngFor="let role of gestionnaire.roles">{{ role.role }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-close" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="resetForm()">Annuler</button>
                            <button type="button" class="btn btn-primary" (click)="addUser()">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Update role user Modal -->
            <div class="modal fade" id="updateRoleModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="updateRoleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="updateRoleModalLabel">Mettre à jour role et profile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @for (currentRole of tempRoles; track $index + '_' + currentRole.id; let i = $index) {
                            <div class="col-auto mb-2">
                                <select class="form-select" name="selectRole" [(ngModel)]="tempRoles[i]"
                                    [compareWith]="compareRoles">
                                    @for (role of roles; track role.id) {
                                    <option [ngValue]="role">{{role.role}}_{{role.profile}}</option>
                                    }
                                </select>
                            </div>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="update-close" class="btn btn-secondary" data-bs-dismiss="modal"
                                (click)="resetForm()">Annuler</button>
                            <button type="button" class="btn btn-primary" (click)="updateRoleUser()">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete user Modal -->
            <div class="modal fade" id="hideIncident" tabindex="-1" aria-labelledby="hideIncidentLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hideIncidentLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close" class="btn btn-secondary"
                                data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-danger" (click)="hideUser()">Confirmé</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>