<div class="container my-container">
    <div class="mb-3 d-flex justify-content-between">
        <h4>{{ title }}</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Organisme Externe</li>
            <li class="breadcrumb-item"><a class="link-primary">{{ title }}</a></li>
        </ol>
    </div>

    <div class="card text-center mx-auto shadow" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Ajouter un Organisme</h5>
        <div class="alert alert-danger" *ngIf="errorMsg">
            {{errorMsg}}
        </div>
        <div class="form-floating mb-3">
            <button (click)="fileInput.click()" style="background-color: transparent; border: none;">
                <img [src]="imgUrl" alt="" width="100" height="100" class="rounded-circle">
                <input hidden type="file" #fileInput (change)="onFileIput(fileInput.files)" class="form-control" name="organisme" placeholder="type de degree">           
            </button>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="type de degree" [(ngModel)] = "orgExterne.name">
            <label>nom de l'organisme</label>
        </div>
        <div class="mt-2 d-flex justify-content-between">
            <button type="button" (click)="addOrgExterne()" class="btn btn-primary">Ajouter</button>
        </div>
        </div>
    </div>
</div>
